p{
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.text-main {
  font-size: 16px;
  color: #333;
}

.text-sub {
  font-size: 14px;
  color: #666;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.margin-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}