.emoji-wrapper {
  width: 360px;
  height: 300px;
  padding: 3px;
  margin: 100px auto;
  background: white;
}
.emoji-item {
  padding: 3px;
}
.emoji-item:hover {
  background: #ddd;
}
.emoji-img {
  display: block;
  width: 24px;
  height: 24px;
}
.input {
  margin-left: 32px;
  text-indent: 0;
  padding: 4px;
  max-width: 80%;
  height: 100px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}